<aside class="sidebar">
  <nav class="navigation">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <span class="material-icons">dashboard</span>
      <span>Dashboard</span>
    </a>

    <a routerLink="/membres" routerLinkActive="active">
      <span class="material-icons">groups</span>
      <span>Membres</span>
    </a>

    <a routerLink="/abonnements" routerLinkActive="active">
      <span class="material-icons">card_membership</span>
      <span>Abonnements</span>
    </a>
  </nav>
</aside>